@import url('https://fonts.googlelapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.inputBox {
    position: relative;
    width: 250px;
    margin: 10px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1.3em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 14px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.57);
    text-transform: uppercase;
    transition: 0.2s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #00df77eb;
    transform: translateX(12px) translateY(-14px);
    font-size: 0.76em;
    padding: 0 12px;
    background: #00df77eb;
    border: 5px solid #1d2b3a;
    color: #1d2b3a;
    border-radius: 2px;
}